useDynLib(sparseMatrixColVars)

import(methods)
import(Matrix)

## For some reason S4Vectors needs to appear in the NAMESPACE file otherwise
## the C code that calls functions provided by the S4Vectors C API fails with
## something like:
##   Error in rowSort(m, use.radix = TRUE) :
##     function '_sort_ints' not provided by package 'S4Vectors'
importFrom(S4Vectors)  # does not actually import anything!

export(dgCMatrix_colVars, rowSort, baseR_rowNthLargest, rowNthLargest)

